*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
height:100px;
width:100px;
display: flex;
justify-content: center;
border: 2px solid black;
align-items: center;

}
body{
    background-color: lightgoldenrodyellow;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 0;
  grid-gap: 10px;
  
  justify-items: center;
  align-content: center;
  
    
}
#div4{
    background-color: red;
    margin-left: 0;
  
}
