*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    background-color: rgb(243, 197, 140);
    height: 300px;
    width: 1230px;


    border:2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
}
h1{
    text-align: center;
    font-size: 3rem;
}
.box{
    width: 200px;
    height: 200px; 
    color: white;
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

}

#red{
    order: 4;
    background-color: red;
}
#blue{
    order: 3;
    background-color: blue;  
}

#yellow{
    background-color: rgb(165, 165, 48);
}

#green{
    background-color: green;
}